/*-----------------
変数
-----------------*/

// カラー設定
$color-black: #000;

$color-black-dark: #101010;

$color-white: #fff;

$color-border: #0A0A0A;

$color-gray: #4D4D4D;

$color-gray-light: #6F6565;

$color-gray-bg: #F2F2F2;

$color-gray-border: #707070;

$color-brown: #A38787;






/*-----------------
レスポンシブ
-----------------*/

//ブレイクポイント
$tab: 959px;
$sm: 768px;

//タブレット
@mixin tab {
  @media screen and(max-width: $tab) {
    @content;
  }
}
//スマホ
@mixin sm {
  @media screen and(max-width: $sm) {
    @content;
  }
}