@charset "UTF-8";

@import "reset";
@import "config";

/*--------------------------------
base
--------------------------------*/
html {
  font-size: 62.5%;
}
body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 1.6rem;
  color: $color-black;
}
img {
  width: 100%;
}
.section-wrapper {
  max-width: 1004px;
  margin: 0 auto;
}
.section-title-en {
  margin-bottom: 32px;
  font-family: "Montserrat";
  font-size: 4.8rem;
  font-weight: bold;
  text-transform: capitalize;
  position: relative;
}
.section-title-border-l {
  position: absolute;
  display: block;
  top: 63px;
  width: 69px;
  height: 5px;
  background-color: $color-black;
}
.section-title-border-c {
  position: absolute;
  display: block;
  top: 63px;
  width: 69px;
  height: 5px;
  background-color: $color-black;
  left: 50%;
  transform: translateX(-50%);
}
.cards {
  display: flex;
  justify-content: space-between;
}

/*--------------------------------
header
--------------------------------*/
.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  &__inner {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 27px 0 40px;
  }
}
.header-logo {
  &__title {
    margin-top: 36px;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 2rem;
    color: $color-white;
    letter-spacing: 0.05em;
  }
  &__text {
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    color: $color-white;
  }
}
.header-nav {
  display: flex;
  margin-top: 30px;
  &__item {
    margin-right: 64px;
    font-family: "Montserrat";
    font-size: 1.8rem;
    color: $color-white;
    &:last-child {
      margin-right: 0;
    }
  }
}
.nav-border {
  border-bottom: 3px solid $color-white;
}

/*--------------------------------
kv
--------------------------------*/
.kv {
  height: 800px;
  background-image: url(../images/kv.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 360px;
  padding-left: 10%;
}
.kv-content {
  width: 475px;
  &__title {
    margin-bottom: 23px;
    font-family: "Montserrat";
    font-size: 6.4rem;
    line-height: 1.25;
    font-weight: bold;
    color: $color-white;
  }
  &__text {
    font-size: 2.4rem;
    letter-spacing: 0.05em;
    line-height: 1.333;
    color: $color-white;
  }
}
.kv-arrow-wrapper {
  position: absolute;
  left: 50%;
  bottom: 33px;
}
.kv-arrow {
  position: relative;
  &__left {
    position: absolute;
    left: -7px;
    display: block;
    width: 26px;
    border-bottom: 7px solid $color-white;
    border-radius: 3px;
    transform: rotate(45deg);
  }
  &__right {
    position: absolute;
    left: 7px;
    display: block;
    width: 26px;
    border-bottom: 7px solid $color-white;
    border-radius: 3px;
    transform: rotate(-45deg);
  }
}

/*--------------------------------
about
--------------------------------*/
.media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 152px;
}
.media-content {
  max-width: 409px;
  padding: 72px 68px 58px;
  background-color: $color-gray-bg;
  &__title {
    margin: 36px 0 12px;
    font-size: 2.4rem;
  }
  &__text {
    line-height: 2;
  }
}

/*--------------------------------
item
--------------------------------*/
.item-section {
  margin-top: 147px;
}
.item-section .cards {
  margin-top: 21px;
  &__item {
    width: 32.2%;
    &:last-child .cards__text{
      text-align: center;
    }
  }
  &__cat {
    margin-top: 20px;
    font-family: "Montserrat";
    font-weight: bold;
    letter-spacing: 0.02em;
  }
  &__title {
    margin-top: 27px;
    font-family: "Montserrat";
    font-size: 2.4rem;
    font-weight: bold;
    letter-spacing: 0.02em;
  }
  &__text {
    margin-top: 20px;
    line-height: 1.75;
  }
}

/*--------------------------------
price
--------------------------------*/
.price-section {
  position: relative;
  margin-top: 153px;
  margin-bottom: 152px;
  height: 977px;
  &__content {
    max-width: 494px;
    padding: 55px 85px 67px;
    text-align: center;
    background-color: $color-white;
    opacity: 0.8;
    border: 5px solid $color-brown;
  }
  &__img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  & .section-title-en {
    margin-bottom: 38px;
  }
}
.price-list {
  margin-top: 79px;
  &__item {
    display: flex;
    justify-content: space-between;
    line-height: 3;
    border-bottom: 1px dotted $color-gray-border;
    &:last-child {
      border: none;
    }
  }
}

/*--------------------------------
blog
--------------------------------*/
.blog-section {
  padding: 134px 0 134px;
  background-color: $color-gray-bg;
  & .cards {
    margin-top: 60px;
    &__item {
      width: 32.2%;
      letter-spacing: 0.01em;
      line-height: 2;
    }
    &__date {
      display: inline-block;
      margin: 29px 18px 0 0;
      font-family: "Montserrat";
      font-weight: bold;
    }
    &__cat {
      color: $color-gray;
    }
    &__text {
      margin-left: 5px;
    }
  }
  & .section-title-en {
    margin-bottom: 41px;
  }
}

/*--------------------------------
access
--------------------------------*/
.access-section {
  padding: 150px 0 219px;
  & .section-title-en {
    margin-bottom: 41px;
  }
}
.access-content {
  display: flex;
  justify-content: space-between;
  margin-top: 91px;
  margin-bottom: 147px;
  &__title {
    margin-bottom: 10px;
    font-family: "Montserrat";
    font-size: 2.4rem;
    font-weight: bold;
    color: $color-black-dark;
    text-transform: uppercase;
  }
  &__text {
    margin-bottom: 27px;
    color: $color-black-dark;
  }
}
.access-description {
  max-width: 751px;
  margin: 0 auto;
  &__title {
    margin-bottom: 28px;
    font-size: 2.4rem;
    line-height: 1.33;
  }
  &__text {
    margin-bottom: 20px;
    color: $color-black-dark;
    letter-spacing: 0.05em;
    line-height: 1.5;
  }
}

/*--------------------------------
footer
--------------------------------*/
.footer {
  padding: 77px 0 90px;
  background-color: $color-gray-light;
  text-align: center;
  &__text {
    font-family: "Montserrat";
    font-size: 8rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    color: $color-white;
  }
}